Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join. We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid
only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property id's), along with zestimate error and date of transaction.
only include properties that include a latitude and longitude value

In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np

#explore
import scipy.stats as stats

#visuals
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns


#default pandas decimal display formatting
pd.options.display.float_format='{:20,.2f}'.format

import wrangle_zillow as wz

In [2]:
dfz = wz.get_zillow_data()
dfz.head()

,parcelid,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,14297519,0.03,2017-01-01,1727539,14297519,nan,nan,nan,3.50,4.00,...,nan,nan,"485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72",None,nan,"60,590,630,072,012.00"
1,17052889,0.06,2017-01-01,1387261,17052889,nan,nan,nan,1.00,2.00,...,1.00,nan,"88,000.00","464,000.00","2,016.00","376,000.00","5,672.48",None,nan,"61,110,010,023,006.00"
2,14186244,0.01,2017-01-01,11677,14186244,nan,nan,nan,2.00,3.00,...,1.00,nan,"85,289.00","564,778.00","2,016.00","479,489.00","6,488.30",None,nan,"60,590,218,022,012.00"
3,12177905,-0.10,2017-01-01,2288172,12177905,nan,nan,nan,3.00,4.00,...,nan,nan,"108,918.00","145,143.00","2,016.00","36,225.00","1,777.51",None,nan,"60,373,001,001,006.00"
4,12095076,-0.00,2017-01-01,781532,12095076,1.00,nan,nan,3.00,4.00,...,nan,nan,"276,684.00","773,303.00","2,016.00","496,619.00","9,516.26",None,nan,"60,374,608,001,014.00"

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
wz.df_summary(dfz)

--- Shape: (52431, 62)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52431 entries, 0 to 52430
Data columns (total 62 columns):
parcelid                        52431 non-null int64
logerror                        52431 non-null float64
transactiondate                 52431 non-null object
id                              52431 non-null int64
parcelid                        52431 non-null int64
airconditioningtypeid           13621 non-null float64
architecturalstyletypeid        70 non-null float64
basementsqft                    47 non-null float64
bathroomcnt                     52431 non-null float64
bedroomcnt                      52431 non-null float64
buildingclasstypeid             0 non-null object
buildingqualitytypeid           33716 non-null float64
calculatedbathnbr               52255 non-null float64
decktypeid                      390 non-null float64
finishedfloor1squarefeet        4378 non-null float64
calculatedfinishedsquarefeet    52311 non-null float64
finishedsquarefeet12            52143 non-null float64
finishedsquarefeet13            2 non-null float64
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            4378 non-null float64
finishedsquarefeet6             166 non-null float64
fips                            52431 non-null float64
fireplacecnt                    7234 non-null float64
fullbathcnt                     52255 non-null float64
garagecarcnt                    17991 non-null float64
garagetotalsqft                 17991 non-null float64
hashottuborspa                  1514 non-null float64
heatingorsystemtypeid           33860 non-null float64
latitude                        52431 non-null float64
longitude                       52431 non-null float64
lotsizesquarefeet               52054 non-null float64
poolcnt                         11081 non-null float64
poolsizesum                     865 non-null float64
pooltypeid10                    443 non-null float64
pooltypeid2                     1071 non-null float64
pooltypeid7                     9994 non-null float64
propertycountylandusecode       52431 non-null object
propertylandusetypeid           52431 non-null float64
propertyzoningdesc              33852 non-null object
rawcensustractandblock          52431 non-null float64
regionidcity                    51395 non-null float64
regionidcounty                  52431 non-null float64
regionidneighborhood            19004 non-null float64
regionidzip                     52405 non-null float64
roomcnt                         52431 non-null float64
storytypeid                     47 non-null float64
threequarterbathnbr             6717 non-null float64
typeconstructiontypeid          76 non-null float64
unitcnt                         33828 non-null float64
yardbuildingsqft17              1936 non-null float64
yardbuildingsqft26              65 non-null float64
yearbuilt                       52278 non-null float64
numberofstories                 14540 non-null float64
fireplaceflag                   81 non-null float64
structuretaxvaluedollarcnt      52348 non-null float64
taxvaluedollarcnt               52430 non-null float64
assessmentyear                  52431 non-null float64
landtaxvaluedollarcnt           52429 non-null float64
taxamount                       52427 non-null float64
taxdelinquencyflag              2071 non-null object
taxdelinquencyyear              2071 non-null float64
censustractandblock             52306 non-null float64
dtypes: float64(53), int64(3), object(6)
memory usage: 24.8+ MB
--- Descriptions
                   parcelid             logerror transactiondate  \
count             52,431.00            52,431.00           52431
unique                  nan                  nan             258
top                     nan                  nan      2017-06-30
freq                    nan                  nan             812
mean          12,995,167.00                 0.02             NaN
std            3,348,577.08                 0.18             NaN
min           10,711,855.00                -4.66             NaN
25%           11,507,356.50                -0.02             NaN
50%           12,575,721.00                 0.01             NaN
75%           14,129,666.50                 0.04             NaN
max          167,687,839.00                 5.26             NaN

                         id             parcelid  airconditioningtypeid  \
count             52,431.00            52,431.00              13,621.00
unique                  nan                  nan                    nan
top                     nan                  nan                    nan
freq                    nan                  nan                    nan
mean           1,496,824.93        12,995,167.00                   2.44
std              859,361.81         3,348,577.08                   3.85
min                  349.00        10,711,855.00                   1.00
25%              757,510.00        11,507,356.50                   1.00
50%            1,500,000.00        12,575,721.00                   1.00
75%            2,241,099.50        14,129,666.50                   1.00
max            2,982,270.00       167,687,839.00                  13.00

        architecturalstyletypeid         basementsqft          bathroomcnt  \
count                      70.00                47.00            52,431.00
unique                       nan                  nan                  nan
top                          nan                  nan                  nan
freq                         nan                  nan                  nan
mean                        7.10               678.98                 2.30
std                         2.67               711.83                 1.02
min                         2.00                38.00                 0.00
25%                         7.00               263.50                 2.00
50%                         7.00               512.00                 2.00
75%                         7.00               809.50                 3.00
max                        21.00             3,560.00                18.00

                 bedroomcnt  ...      numberofstories        fireplaceflag  \
count             52,431.00  ...            14,540.00                81.00
unique                  nan  ...                  nan                  nan
top                     nan  ...                  nan                  nan
freq                    nan  ...                  nan                  nan
mean                   3.30  ...                 1.41                 1.00
std                    0.95  ...                 0.54                 0.00
min                    0.00  ...                 1.00                 1.00
25%                    3.00  ...                 1.00                 1.00
50%                    3.00  ...                 1.00                 1.00
75%                    4.00  ...                 2.00                 1.00
max                   14.00  ...                 6.00                 1.00

        structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                    52,348.00            52,430.00            52,431.00
unique                         nan                  nan                  nan
top                            nan                  nan                  nan
freq                           nan                  nan                  nan
mean                    196,734.45           529,871.53             2,016.00
std                     254,717.07           751,987.11                 0.00
min                         129.00             1,000.00             2,016.00
25%                      77,159.00           193,766.75             2,016.00
50%                     131,867.00           373,565.50             2,016.00
75%                     226,455.75           619,302.00             2,016.00
max                   9,164,901.00        49,061,236.00             2,016.00

        landtaxvaluedollarcnt            taxamount  taxdelinquencyflag  \
count               52,429.00            52,427.00                2071
unique                    nan                  nan                   1
top                       nan                  nan                   Y
freq                      nan                  nan                2071
mean               333,451.13             6,455.75                 NaN
std                570,332.75             8,755.04                 NaN
min                    161.00                49.18                 NaN
25%                 76,000.00             2,656.28                 NaN
50%                218,000.00             4,646.72                 NaN
75%                408,600.00             7,378.85                 NaN
max             48,952,198.00           586,639.30                 NaN

         taxdelinquencyyear    censustractandblock
count              2,071.00              52,306.00
unique                  nan                    nan
top                     nan                    nan
freq                    nan                    nan
mean                  14.10  60,502,373,044,308.68
std                    2.40   1,859,248,840,563.65
min                    4.00  60,371,011,101,000.00
25%                   14.00  60,374,013,031,013.50
50%                   15.00  60,376,203,031,004.50
75%                   15.00  60,590,423,251,010.75
max                   99.00 483,030,105,084,015.00

[11 rows x 62 columns]
--- Nulls By Column
                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    38810                 0.74
architecturalstyletypeid                 52361                 1.00
basementsqft                             52384                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      52431                 1.00
buildingqualitytypeid                    18715                 0.36
calculatedbathnbr                          176                 0.00
decktypeid                               52041                 0.99
finishedfloor1squarefeet                 48053                 0.92
calculatedfinishedsquarefeet               120                 0.00
finishedsquarefeet12                       288                 0.01
finishedsquarefeet13                     52429                 1.00
finishedsquarefeet15                     52431                 1.00
finishedsquarefeet50                     48053                 0.92
finishedsquarefeet6                      52265                 1.00
fips                                         0                 0.00
fireplacecnt                             45197                 0.86
fullbathcnt                                176                 0.00
garagecarcnt                             34440                 0.66
garagetotalsqft                          34440                 0.66
hashottuborspa                           50917                 0.97
heatingorsystemtypeid                    18571                 0.35
latitude                                     0                 0.00
longitude                                    0                 0.00
...                                        ...                  ...
poolsizesum                              51566                 0.98
pooltypeid10                             51988                 0.99
pooltypeid2                              51360                 0.98
pooltypeid7                              42437                 0.81
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
propertyzoningdesc                       18579                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1036                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     33427                 0.64
regionidzip                                 26                 0.00
roomcnt                                      0                 0.00
storytypeid                              52384                 1.00
threequarterbathnbr                      45714                 0.87
typeconstructiontypeid                   52355                 1.00
unitcnt                                  18603                 0.35
yardbuildingsqft17                       50495                 0.96
yardbuildingsqft26                       52366                 1.00
yearbuilt                                  153                 0.00
numberofstories                          37891                 0.72
fireplaceflag                            52350                 1.00
structuretaxvaluedollarcnt                  83                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    4                 0.00
taxdelinquencyflag                       50360                 0.96
taxdelinquencyyear                       50360                 0.96
censustractandblock                        125                 0.00

[62 rows x 2 columns]
--- Nulls By Row
   num_cols_missing    pct_cols_missing  num_rows
0                19   30.64516129032258         2
1                20   32.25806451612903        10
2                21   33.87096774193548        83
3                22  35.483870967741936       261
4                23  37.096774193548384       480
5                24   38.70967741935484       534
6                25   40.32258064516129      2910
7                26  41.935483870967744      5923
8                27   43.54838709677419      7937
9                28   45.16129032258064     15859
10               29  46.774193548387096     12525
11               30   48.38709677419355      4451
12               31                50.0      1058
13               32   51.61290322580645       227
14               33    53.2258064516129        37
15               34   54.83870967741935        16
16               35  56.451612903225815         9
17               36   58.06451612903226        13
18               37   59.67741935483871        23
19               38   61.29032258064516        61
20               39  62.903225806451616         7
21               40   64.51612903225806         2
22               41   66.12903225806451         1
23               42   67.74193548387096         2
--- Value Counts

AttributeError: 'DataFrame' object has no attribute 'dtype'

Write a function that takes in a dataframe of observations and attributes and returns a df where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [6]:
wz.nulls_by_col(dfz)

                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    38810                 0.74
architecturalstyletypeid                 52361                 1.00
basementsqft                             52384                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      52431                 1.00
buildingqualitytypeid                    18715                 0.36
calculatedbathnbr                          176                 0.00
decktypeid                               52041                 0.99
finishedfloor1squarefeet                 48053                 0.92
calculatedfinishedsquarefeet               120                 0.00
finishedsquarefeet12                       288                 0.01
finishedsquarefeet13                     52429                 1.00
finishedsquarefeet15                     52431                 1.00
finishedsquarefeet50                     48053                 0.92
finishedsquarefeet6                      52265                 1.00
fips                                         0                 0.00
fireplacecnt                             45197                 0.86
fullbathcnt                                176                 0.00
garagecarcnt                             34440                 0.66
garagetotalsqft                          34440                 0.66
hashottuborspa                           50917                 0.97
heatingorsystemtypeid                    18571                 0.35
latitude                                     0                 0.00
longitude                                    0                 0.00
...                                        ...                  ...
poolsizesum                              51566                 0.98
pooltypeid10                             51988                 0.99
pooltypeid2                              51360                 0.98
pooltypeid7                              42437                 0.81
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
propertyzoningdesc                       18579                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1036                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     33427                 0.64
regionidzip                                 26                 0.00
roomcnt                                      0                 0.00
storytypeid                              52384                 1.00
threequarterbathnbr                      45714                 0.87
typeconstructiontypeid                   52355                 1.00
unitcnt                                  18603                 0.35
yardbuildingsqft17                       50495                 0.96
yardbuildingsqft26                       52366                 1.00
yearbuilt                                  153                 0.00
numberofstories                          37891                 0.72
fireplaceflag                            52350                 1.00
structuretaxvaluedollarcnt                  83                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    4                 0.00
taxdelinquencyflag                       50360                 0.96
taxdelinquencyyear                       50360                 0.96
censustractandblock                        125                 0.00

[62 rows x 2 columns]

Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [7]:
wz.nulls_by_row(dfz)

   num_cols_missing    pct_cols_missing  num_rows
0                19   30.64516129032258         2
1                20   32.25806451612903        10
2                21   33.87096774193548        83
3                22  35.483870967741936       261
4                23  37.096774193548384       480
5                24   38.70967741935484       534
6                25   40.32258064516129      2910
7                26  41.935483870967744      5923
8                27   43.54838709677419      7937
9                28   45.16129032258064     15859
10               29  46.774193548387096     12525
11               30   48.38709677419355      4451
12               31                50.0      1058
13               32   51.61290322580645       227
14               33    53.2258064516129        37
15               34   54.83870967741935        16
16               35  56.451612903225815         9
17               36   58.06451612903226        13
18               37   59.67741935483871        23
19               38   61.29032258064516        61
20               39  62.903225806451616         7
21               40   64.51612903225806         2
22               41   66.12903225806451         1
23               42   67.74193548387096         2

Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

Added "AND propertylandusedesc in ('Residential General','Single Family Residential', 'Rural Residence', 'Mobile Home', 'Bungalow', 'Manifactured, Modular, Prefabricated Homes', 'Patio Home', 'Inferred Single Family Residential');" to SQL statement.

In [8]:
df=dfz
dfz=wz.handle_missing_values(df, prop_required_column = .5, prop_required_row = .75)

In [9]:
dfz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52346 entries, 0 to 52430
Data columns (total 33 columns):
parcelid                        52346 non-null int64
logerror                        52346 non-null float64
transactiondate                 52346 non-null object
id                              52346 non-null int64
parcelid                        52346 non-null int64
bathroomcnt                     52346 non-null float64
bedroomcnt                      52346 non-null float64
buildingqualitytypeid           33716 non-null float64
calculatedbathnbr               52255 non-null float64
calculatedfinishedsquarefeet    52311 non-null float64
finishedsquarefeet12            52143 non-null float64
fips                            52346 non-null float64
fullbathcnt                     52255 non-null float64
heatingorsystemtypeid           33860 non-null float64
latitude                        52346 non-null float64
longitude                       52346 non-null float64
lotsizesquarefeet               51987 non-null float64
propertycountylandusecode       52346 non-null object
propertylandusetypeid           52346 non-null float64
propertyzoningdesc              33830 non-null object
rawcensustractandblock          52346 non-null float64
regionidcity                    51316 non-null float64
regionidcounty                  52346 non-null float64
regionidzip                     52323 non-null float64
roomcnt                         52346 non-null float64
unitcnt                         33828 non-null float64
yearbuilt                       52278 non-null float64
structuretaxvaluedollarcnt      52272 non-null float64
taxvaluedollarcnt               52345 non-null float64
assessmentyear                  52346 non-null float64
landtaxvaluedollarcnt           52345 non-null float64
taxamount                       52342 non-null float64
censustractandblock             52233 non-null float64
dtypes: float64(27), int64(3), object(3)
memory usage: 13.6+ MB

In [10]:
dfz.shape

(52346, 33)

In [11]:
wz.nulls_by_col(dfz)

                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingqualitytypeid                    18630                 0.36
calculatedbathnbr                           91                 0.00
calculatedfinishedsquarefeet                35                 0.00
finishedsquarefeet12                       203                 0.00
fips                                         0                 0.00
fullbathcnt                                 91                 0.00
heatingorsystemtypeid                    18486                 0.35
latitude                                     0                 0.00
longitude                                    0                 0.00
lotsizesquarefeet                          359                 0.01
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
propertyzoningdesc                       18516                 0.35
rawcensustractandblock                       0                 0.00
regionidcity                              1030                 0.02
regionidcounty                               0                 0.00
regionidzip                                 23                 0.00
roomcnt                                      0                 0.00
unitcnt                                  18518                 0.35
yearbuilt                                   68                 0.00
structuretaxvaluedollarcnt                  74                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        1                 0.00
taxamount                                    4                 0.00
censustractandblock                        113                 0.00

In [12]:
# Cannot impute data without skewing the data dropping column
cols_to_remove = ['buildingqualitytypeid','heatingorsystemtypeid','propertyzoningdesc','censustractandblock']
df = dfz
dfz = wz.remove_columns(df, cols_to_remove)

In [13]:
dfz.shape

(52346, 29)

In [14]:
# Can safely impute using most_frequent stratagy
df = dfz
columns = ['calculatedbathnbr','fullbathcnt','regionidcity','regionidzip','unitcnt','yearbuilt']
strategy = 'most_frequent'
dfz = wz.imputer_9000(df,columns,strategy)

In [15]:
# Can safely import using mean stratagy
df = dfz
columns = ['calculatedbathnbr', 'calculatedfinishedsquarefeet','finishedsquarefeet12','lotsizesquarefeet','structuretaxvaluedollarcnt','taxvaluedollarcnt','taxamount','landtaxvaluedollarcnt']
strategy = 'most_frequent'
dfz = wz.imputer_9000(df,columns,strategy)

In [16]:
wz.nulls_by_col(dfz)

                              num_rows_missing     pct_rows_missing
parcelid                                     0                 0.00
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
calculatedbathnbr                            0                 0.00
calculatedfinishedsquarefeet                 0                 0.00
finishedsquarefeet12                         0                 0.00
fips                                         0                 0.00
fullbathcnt                                  0                 0.00
latitude                                     0                 0.00
longitude                                    0                 0.00
lotsizesquarefeet                            0                 0.00
propertycountylandusecode                    0                 0.00
propertylandusetypeid                        0                 0.00
rawcensustractandblock                       0                 0.00
regionidcity                                 0                 0.00
regionidcounty                               0                 0.00
regionidzip                                  0                 0.00
roomcnt                                      0                 0.00
unitcnt                                      0                 0.00
yearbuilt                                    0                 0.00
structuretaxvaluedollarcnt                   0                 0.00
taxvaluedollarcnt                            0                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        0                 0.00
taxamount                                    0                 0.00

In [17]:
df_zillow_clean = wz.zillow_clean()

In [18]:
df_zillow_clean.head()

,parcelid,logerror,transactiondate,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount
0,14297519,0.03,2017-01-01,1727539,14297519,3.50,4.00,3.50,"3,100.00","3,100.00",...,"1,286.00","96,978.00",0.00,1.00,"1,998.00","485,713.00","1,023,282.00","2,016.00","537,569.00","11,013.72"
1,17052889,0.06,2017-01-01,1387261,17052889,1.00,2.00,1.00,"1,465.00","1,465.00",...,"2,061.00","97,099.00",5.00,1.00,"1,967.00","88,000.00","464,000.00","2,016.00","376,000.00","5,672.48"
2,14186244,0.01,2017-01-01,11677,14186244,2.00,3.00,2.00,"1,243.00","1,243.00",...,"1,286.00","97,078.00",6.00,1.00,"1,962.00","85,289.00","564,778.00","2,016.00","479,489.00","6,488.30"
3,12177905,-0.10,2017-01-01,2288172,12177905,3.00,4.00,3.00,"2,376.00","2,376.00",...,"3,101.00","96,330.00",0.00,1.00,"1,970.00","108,918.00","145,143.00","2,016.00","36,225.00","1,777.51"
4,12095076,-0.00,2017-01-01,781532,12095076,3.00,4.00,3.00,"2,962.00","2,962.00",...,"3,101.00","96,293.00",0.00,1.00,"1,950.00","276,684.00","773,303.00","2,016.00","496,619.00","9,516.26"